@use "themes" as *;

@mixin cta {
    padding: $button-padding;
    text-decoration: none;
    border-radius: $buttonCorner;
    font: $headingSm;
}

//applied directly to <a> tag
.primaryCTA {
    background-color: $s900;
    color: $n0;
    @include cta;

    // &.neutralTheme{
    //     background-color:;
    //     color:;
    // }
    // &.darkTheme{

    // }
}

.secondaryCTA {
    background-color: $n900;
    color: $n0;
    @include cta;
}

.tertiaryCTA {
    color: $s900;
    @include cta;
}