@use "themes" as *;

.customContent {
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $section-gap;

    .column {
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      gap:$subsection-gap;

      @include tablet {
        flex-basis: calc(50% - calc(0.5 * $section-gap));
      }

      @include mobile {
        flex-basis: 100%;
      }

      &.full {
        flex-grow: 2;
      }

      &.half {
        flex-grow: 1;
      }
    }
    
    .column.of2 {
      @include tablet {
        flex-basis: 0;
      }
      @include mobile {
        flex-basis:100%;
      }
    }
  }
}
