@use "../themes" as *;

//applied directly to <a> tag
.cta {
  padding: $button-padding;
  text-decoration: none;
  border-radius: $button-corner;
  width: fit-content;
  font: $headingSm;
  margin-top: $subsection-gap;
  margin-bottom:$subsection-gap;

  &.primary {
    background-color: $p700;
    color: $n0;

    &:hover {
      background-color: $p600;
    }
  }

  &.secondary {
    background-color: transparent;
    color: $p700;
    border: $border-width solid $p700 ;

    &:hover {
      color: $p600;
      border-color: $p600;
    }
  }

  &.tertiary {
    background-color: transparent;
    color: $p700;
    margin:0;

    &:hover {
      color: $p600;
    }
  }
}

.darkTheme {
  .cta {
    &.primary {
      background-color: $p400;
      color: $n850;

      &:hover {
        background-color: $p500;
        color:$n850;
      }
    }

    &.secondary {
      color: $p400;
      border-color: $p400;

      &:hover {
        color: $p500;
        border-color: $p500;
      }
    }

    &.tertiary {
      color: $p400;
      padding:0;

      &:hover {
        color: $p500;
      }
    }
  }
}
